openapi: 3.1.0
info:
  title: 库存管理系统接口
  version: 0.0.1
servers:
  - url: 'https://development.gigantic-server.com/v1'
    description: Development server
  - url: 'https://staging.gigantic-server.com/v1'
    description: Staging server
  - url: 'https://api.gigantic-server.com/v1'
    description: Production server
security:
  - oauth2: []
  - bearerAuth: []
paths:
  /auth/login:
    post:
      summary: 用户登录
      operationId: login
      tags:
        - 认证
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginReq'
            examples:
              default:
                value:
                  email: employee@example.com
                  password: Secret123!
      responses:
        '200':
          description: 登录成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResp'
              examples:
                default:
                  value:
                    tokens:
                      tokenType: Bearer
                      accessToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
                      expiresIn: 3600
                      refreshToken: dGhpc19pc19hX3NhbXBsZV9yZWZyZXNoX3Rva2Vu
                      refreshTokenExpiresIn: 604800
                    employee:
                      id: emp_12345
                      email: employee@example.com
                      name: 张三
                      roles:
                        - admin
                        - warehouse_manager
                      lastLoginAt: '2024-05-06T03:20:00Z'
                      avatarUrl: 'https://cdn.example.com/avatar/emp_12345.png'
  /auth/refresh:
    post:
      summary: 刷新访问令牌
      operationId: refreshToken
      tags:
        - 认证
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenReq'
            examples:
              default:
                value:
                  refreshToken: dGhpc19pc19hX3NhbXBsZV9yZWZyZXNoX3Rva2Vu
      responses:
        '200':
          description: 刷新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResp'
              examples:
                default:
                  value:
                    tokens:
                      tokenType: Bearer
                      accessToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
                      expiresIn: 3600
                      refreshToken: Zm9vX3JlZnJlc2hfdG9rZW4
                      refreshTokenExpiresIn: 604800
                    employee:
                      id: emp_12345
                      email: employee@example.com
                      name: 张三
                      roles:
                        - admin
                        - warehouse_manager
                      lastLoginAt: '2024-05-06T03:20:00Z'
                      avatarUrl: 'https://cdn.example.com/avatar/emp_12345.png'
  /auth/logout:
    post:
      summary: 用户登出
      operationId: logout
      tags:
        - 认证
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogoutReq'
            examples:
              default:
                value:
                  refreshToken: dGhpc19pc19hX3NhbXBsZV9yZWZyZXNoX3Rva2Vu
      responses:
        '204':
          description: 登出成功，无返回内容
  /auth/profile:
    get:
      summary: 获取当前登录员工信息
      operationId: getAuthProfile
      tags:
        - 认证
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 查询成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthProfileResp'
              examples:
                default:
                  value:
                    employee:
                      id: emp_12345
                      email: employee@example.com
                      name: 张三
                      roles:
                        - admin
                        - warehouse_manager
                      lastLoginAt: '2024-05-06T03:20:00Z'
                      avatarUrl: 'https://cdn.example.com/avatar/emp_12345.png'
  /dashboard/stats:
    get:
      summary: 获取仪表盘统计数据
      operationId: getDashboardStats
      tags:
        - 仪表盘
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardStatsResp'
  /warehouses:
    get:
      summary: 仓库列表
      operationId: listWarehouses
      tags:
        - 仓库
      parameters:
        - name: page
          in: query
          description: 页码
          schema:
            type: integer
            default: 1
        - name: itemsPerPage
          in: query
          description: 每页数量
          schema:
            type: integer
            default: 20
        - name: name
          in: query
          description: 仓库名称
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWarehousesResp'
  /warehouse:
    post:
      summary: 创建新的仓库
      operationId: createWarehouse
      tags:
        - 仓库
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWarehouseReq'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateWarehouseResp'
  '/warehouse/{id}':
    get:
      summary: 获取仓库详情
      operationId: getWarehouse
      tags:
        - 仓库
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 仓库 ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWarehouseResp'
    put:
      summary: 更新仓库
      operationId: updateWarehouse
      tags:
        - 仓库
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 仓库 ID
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Warehouse'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWarehouseResp'
    delete:
      summary: 删除仓库
      operationId: deleteWarehouse
      tags:
        - 仓库
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 仓库 ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
  /products:
    get:
      summary: 获取商品列表
      operationId: listProducts
      tags:
        - 商品
      parameters:
        - name: page
          in: query
          description: 页码
          schema:
            type: integer
            default: 1
        - name: itemsPerPage
          in: query
          description: 每页数量
          schema:
            type: integer
            default: 20
        - name: name
          in: query
          description: 商品名称
          schema:
            type: string
        - name: sku
          in: query
          description: 商品SKU
          schema:
            type: string
        - name: isActive
          in: query
          description: 是否激活
          schema:
            type: boolean
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProductsResp'
  /product:
    post:
      summary: 创建商品
      operationId: createProduct
      tags:
        - 商品
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductReq'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProductResp'
  '/product/{id}':
    get:
      summary: 获取商品详情
      operationId: getProduct
      tags:
        - 商品
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 商品ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductResp'
    put:
      summary: 更新商品
      operationId: updateProduct
      tags:
        - 商品
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 商品ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductResp'
    delete:
      summary: 删除商品
      operationId: deleteProduct
      tags:
        - 商品
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 商品ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
  /media/images:
    post:
      summary: 上传图片
      operationId: uploadMediaImage
      tags:
        - 媒体
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: 图片文件
      responses:
        '200':
          description: 上传成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedImage'
  '/media/images/{imageId}':
    get:
      summary: 获取图片内容
      operationId: getMediaImage
      tags:
        - 媒体
      parameters:
        - name: imageId
          in: path
          required: true
          description: 图片ID
          schema:
            type: string
      responses:
        '200':
          description: 成功代理返回图片内容
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/webp:
              schema:
                type: string
                format: binary
          headers:
            Content-Type:
              description: 图片的MIME类型
              schema:
                type: string
            Content-Length:
              description: 图片大小（字节）
              schema:
                type: integer
  /customers:
    get:
      summary: 获取客户列表
      operationId: listCustomers
      tags:
        - 客户
      parameters:
        - name: page
          in: query
          description: 页码
          schema:
            type: integer
            default: 1
        - name: itemsPerPage
          in: query
          description: 每页数量
          schema:
            type: integer
            default: 20
        - name: name
          in: query
          description: 客户名
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomersResp'
  /customer:
    post:
      summary: 创建客户
      operationId: createCustomer
      tags:
        - 客户
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerReq'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCustomerResp'
  '/customer/{id}':
    get:
      summary: 获取客户详情
      operationId: getCustomer
      tags:
        - 客户
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            description: 客户ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomerResp'
    put:
      summary: 更新客户
      operationId: updateCustomer
      tags:
        - 客户
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            description: 客户ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomerResp'
    delete:
      summary: 删除客户
      operationId: deleteCustomer
      tags:
        - 客户
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            description: 客户ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
  /inventory/inbounds:
    get:
      summary: 入库单列表
      operationId: listInbounds
      tags:
        - 库存
      parameters:
        - name: page
          in: query
          description: 页码
          schema:
            type: integer
            default: 1
        - name: itemsPerPage
          in: query
          description: 每页数量
          schema:
            type: integer
            default: 20
        - name: inboundOrderId
          in: query
          description: 入库订单ID
          schema:
            type: string
        - name: inboundDateFrom
          in: query
          description: 入库日期(From)
          schema:
            type: string
            format: date
        - name: inboundDateTo
          in: query
          description: 入库日期(To)
          schema:
            type: string
            format: date
        - name: warehouseId
          in: query
          description: 仓库ID
          schema:
            type: integer
        - name: status
          in: query
          description: 入库状态
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInboundsResp'
  /inventory/inbound:
    post:
      summary: 创建入库单
      operationId: createInbound
      tags:
        - 库存
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Inbound'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inbound'
  '/inventory/inbound/{id}':
    get:
      summary: 入库单详情
      operationId: getInbound
      tags:
        - 库存
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 入库单ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inbound'
    put:
      summary: 更新入库单
      operationId: updateInbound
      tags:
        - 库存
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 入库单ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Inbound'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inbound'
    delete:
      summary: 删除入库单
      operationId: deleteInbound
      tags:
        - 库存
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 入库单ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
  '/inventory/inbound/{id}/approve':
    post:
      summary: 确认入库单
      operationId: approveInbound
      tags:
        - 库存
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 入库单ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inbound'
  '/inventory/inbound/{id}/reject':
    post:
      summary: 拒绝入库单
      operationId: rejectInbound
      tags:
        - 库存
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 入库单ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inbound'
  '/inventory/inbound/{id}/cancel':
    post:
      summary: 取消入库单
      operationId: cancelInbound
      tags:
        - 库存
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 入库单ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inbound'
  /inventory/inboundItems:
    get:
      summary: 入库商品列表
      operationId: listInboundItems
      tags:
        - 库存
      parameters:
        - name: page
          in: query
          description: 页码
          schema:
            type: integer
            default: 1
        - name: itemsPerPage
          in: query
          description: 每页数量
          schema:
            type: integer
            default: 20
        - name: lotNumber
          in: query
          description: 批次号
          schema:
            type: string
        - name: productId
          in: query
          description: 商品ID
          schema:
            type: integer
        - name: inboundDateFrom
          in: query
          description: 入库日期(From)
          schema:
            type: string
            format: date
        - name: inboundDateTo
          in: query
          description: 入库日期(To)
          schema:
            type: string
            format: date
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInboundItemsResp'
  /inventory/outbounds:
    get:
      summary: 出库单列表
      operationId: listOutbounds
      tags:
        - 库存
      parameters:
        - name: page
          in: query
          description: 页码
          schema:
            type: integer
            default: 1
        - name: itemsPerPage
          in: query
          description: 每页数量
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOutboundsResp'
  /inventory/outbound:
    post:
      summary: 创建出库单
      operationId: createOutbound
      tags:
        - 库存
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Outbound'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Outbound'
  '/inventory/outbound/{id}':
    get:
      summary: 出库单详情
      operationId: getOutbound
      tags:
        - 库存
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 入库单ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Outbound'
    put:
      summary: 更新出库单
      operationId: updateOutbound
      tags:
        - 库存
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 出库单ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Outbound'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Outbound'
    delete:
      summary: 删除出库单
      operationId: deleteOutbound
      tags:
        - 库存
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 出库单ID
  '/inventory/outbound/{id}/approve':
    post:
      summary: 确认出库单
      operationId: approveOutbound
      tags:
        - 库存
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 出库单ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Outbound'
  '/inventory/outbound/{id}/reject':
    post:
      summary: 拒绝出库单
      operationId: rejectOutbound
      tags:
        - 库存
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 出库单ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Outbound'
  '/inventory/outbound/{id}/cancel':
    post:
      summary: 取消出库单
      operationId: cancelOutbound
      tags:
        - 库存
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 出库单ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Outbound'
  /inventory/outboundItems:
    get:
      summary: 出库商品列表
      operationId: listOutboundItems
      tags:
        - 库存
      parameters:
        - name: page
          in: query
          description: 页码
          schema:
            type: integer
            default: 1
        - name: itemsPerPage
          in: query
          description: 每页数量
          schema:
            type: integer
            default: 20
        - name: lotNumber
          in: query
          description: 批次号
          schema:
            type: string
        - name: productId
          in: query
          description: 商品ID
          schema:
            type: integer
        - name: outboundDateFrom
          in: query
          description: 出库日期(From)
          schema:
            type: string
            format: date
        - name: outboundDateTo
          in: query
          description: 出库日期(To)
          schema:
            type: string
            format: date
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOutboundItemsResp'
  /inventory/expressSampleShipments:
    get:
      summary: Express sample shipment list
      operationId: listExpressSampleShipments
      tags:
        - 库存
      parameters:
        - name: page
          in: query
          description: 页码
          schema:
            type: integer
            default: 1
        - name: itemsPerPage
          in: query
          description: 每页数量
          schema:
            type: integer
            default: 20
        - name: status
          in: query
          description: Express sample shipment status
          schema:
            type: string
            enum:
              - draft
              - pending
              - approved
              - rejected
              - cancelled
              - booked
              - dispatched
              - delivered
        - name: customerId
          in: query
          description: 客户ID
          schema:
            type: integer
        - name: desiredDeliveryDateFrom
          in: query
          description: 送达日期起始
          schema:
            type: string
            format: date
        - name: desiredDeliveryDateTo
          in: query
          description: 送达日期结束
          schema:
            type: string
            format: date
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExpressSampleShipmentsResp'
  /inventory/expressSampleShipment:
    post:
      summary: 创建急送样品出库
      operationId: createExpressSampleShipment
      tags:
        - 库存
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressSampleShipment'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressSampleShipment'
  '/inventory/expressSampleShipment/{id}':
    get:
      summary: Express sample shipment detail
      operationId: getExpressSampleShipment
      tags:
        - 库存
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: Express sample shipment ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressSampleShipment'
    put:
      summary: 更新Express Sample出库
      operationId: updateExpressSampleShipment
      tags:
        - 库存
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: Express sample shipment ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressSampleShipment'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressSampleShipment'
    delete:
      summary: 删除Express Sample出库
      operationId: deleteExpressSampleShipment
      tags:
        - 库存
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: Express sample shipment ID
  '/inventory/expressSampleShipment/{id}/approve':
    post:
      summary: 确认Express Sample出库
      operationId: approveExpressSampleShipment
      tags:
        - 库存
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: Express sample shipment ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressSampleShipment'
  '/inventory/expressSampleShipment/{id}/reject':
    post:
      summary: 驳回Express Sample出库
      operationId: rejectExpressSampleShipment
      tags:
        - 库存
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: Express sample shipment ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressSampleShipment'
  '/inventory/expressSampleShipment/{id}/cancel':
    post:
      summary: 取消Express Sample出库
      operationId: cancelExpressSampleShipment
      tags:
        - 库存
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: Express sample shipment ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressSampleShipment'
  /inventory/expressSampleShipmentItems:
    get:
      summary: Express sample shipment item list
      operationId: listExpressSampleShipmentItems
      tags:
        - 库存
      parameters:
        - name: page
          in: query
          description: 页码
          schema:
            type: integer
            default: 1
        - name: itemsPerPage
          in: query
          description: 每页数量
          schema:
            type: integer
            default: 20
        - name: expressSampleShipmentId
          in: query
          description: Express sample shipment ID
          schema:
            type: integer
        - name: productId
          in: query
          description: 商品ID
          schema:
            type: integer
        - name: desiredDeliveryDate
          in: query
          description: 希望送达日期
          schema:
            type: string
            format: date
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExpressSampleShipmentItemsResp'
  /inventory/expressSampleShipmentReports:
    get:
      summary: 获取Express Sample出库报告列表
      operationId: listExpressSampleShipmentReports
      tags:
        - Express Sample报告
      description: |
        获取Express Sample出库的历史报告列表，支持按仓库、客户和状态筛选。
      parameters:
        - name: page
          in: query
          description: 页码
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: itemsPerPage
          in: query
          description: 每页数量
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: warehouseId
          in: query
          description: 仓库ID筛选
          schema:
            type: integer
        - name: customerId
          in: query
          description: 客户ID筛选
          schema:
            type: integer
        - name: status
          in: query
          description: 报告状态筛选
          schema:
            type: string
            enum:
              - pending
              - processing
              - completed
              - failed
        - name: startDate
          in: query
          description: 报告生成开始日期
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: 报告生成结束日期
          schema:
            type: string
            format: date
      responses:
        '200':
          description: 成功获取Express Sample出库报告列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressSampleShipmentReportListResp'
        '400':
          description: 请求参数错误
        '500':
          description: 服务器内部错误
  /inventory/expressSampleShipmentReport/generate:
    post:
      summary: 生成Express Sample出库报告
      operationId: generateExpressSampleShipmentReport
      tags:
        - Express Sample报告
      description: |
        提交生成Express Sample出库的Excel报告任务。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpressSampleShipmentReportReq'
      responses:
        '202':
          description: Express Sample出库报告生成任务已接受
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressSampleShipmentReportResp'
        '400':
          description: 请求参数错误
        '404':
          description: Express Sample出库记录不存在
        '500':
          description: 服务器内部错误
  '/inventory/expressSampleShipmentReports/{reportId}/status':
    get:
      summary: 获取Express Sample出库报告生成状态
      operationId: getExpressSampleShipmentReportStatus
      tags:
        - Express Sample报告
      description: |
        根据报告ID获取Express Sample出库报告的生成状态。
      parameters:
        - name: reportId
          in: path
          required: true
          description: Express Sample出库报告ID
          schema:
            type: string
      responses:
        '200':
          description: 成功获取Express Sample出库报告状态
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpressSampleShipmentReport'
        '404':
          description: 报告不存在
        '500':
          description: 服务器内部错误
  '/inventory/expressSampleShipmentReports/{reportId}/download':
    get:
      summary: 下载Express Sample出库报告
      operationId: downloadExpressSampleShipmentReport
      tags:
        - Express Sample报告
      description: |
        直接返回已生成的Express Sample出库报告Excel文件内容。
      parameters:
        - name: reportId
          in: path
          required: true
          description: Express Sample出库报告ID
          schema:
            type: string
      responses:
        '200':
          description: 成功下载Express Sample出库报告文件
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
              examples:
                excel_report:
                  summary: Express Sample出库报告（Excel）
          headers:
            Content-Disposition:
              description: 文件下载附件头
              schema:
                type: string
                example: attachment; filename="express_sample_shipment_report.xlsx"
            Content-Length:
              description: 文件大小
              schema:
                type: integer
        '404':
          description: 报告不存在或未完成
        '410':
          description: 下载链接已过期
        '500':
          description: 服务器内部错误
  /inventory/list:
    get:
      summary: 库存列表
      operationId: listInventory
      tags:
        - 库存
      parameters:
        - name: page
          in: query
          description: 页码
          schema:
            type: integer
            default: 1
        - name: itemsPerPage
          in: query
          description: 每页数量
          schema:
            type: integer
            default: 20
        - name: warehouseId
          in: query
          description: 仓库ID
          schema:
            type: integer
        - name: customerId
          in: query
          description: 客户ID
          schema:
            type: integer
        - name: productId
          in: query
          description: 商品ID
          schema:
            type: integer
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInventoryResp'
  '/inventory/item/{id}':
    get:
      summary: 获取库存物品详情
      operationId: getInventoryItemDetail
      tags:
        - 库存
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            description: 库存物品ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItemDetailResp'
  /inventory/agedItems:
    get:
      summary: 获取库存过久商品列表
      operationId: getAgedInventoryItemList
      tags:
        - 仪表盘
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgedInventoryItemListResp'
  '/inventory/agedItems/{id}/mute':
    post:
      summary: 静音库存物品
      operationId: muteAgedInventoryItem
      tags:
        - 库存
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 库存物品ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryItem'
  /inventory/reports:
    get:
      summary: 获取在库报告列表
      operationId: listInventoryReports
      tags:
        - 库存报告
      description: |
        获取在库报告的历史列表，支持按仓库、客户等条件筛选。
      parameters:
        - name: page
          in: query
          description: 页码
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: itemsPerPage
          in: query
          description: 每页数量
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: warehouseId
          in: query
          description: 仓库ID筛选
          schema:
            type: integer
        - name: customerId
          in: query
          description: 客户ID筛选
          schema:
            type: integer
        - name: status
          in: query
          description: 报告状态筛选
          schema:
            type: string
            enum:
              - pending
              - processing
              - completed
              - failed
        - name: startDate
          in: query
          description: 开始日期筛选（报告生成时间）
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: 结束日期筛选（报告生成时间）
          schema:
            type: string
            format: date
      responses:
        '200':
          description: 成功获取报告列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryReportListResp'
  /inventory/report/generate:
    post:
      summary: 生成在库报告
      operationId: generateInventoryReport
      tags:
        - 库存报告
      description: |
        生成指定仓库和客户的在库报告PDF。
        报告将异步生成，返回报告ID用于查询生成状态和下载。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryReportReq'
      responses:
        '202':
          description: 报告生成任务已接受
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryReportResp'
  '/inventory/reports/{reportId}/status':
    get:
      summary: 获取报告生成状态
      operationId: getInventoryReportStatus
      tags:
        - 库存报告
      description: |
        根据报告ID获取在库报告的生成状态。
        可用于轮询检查报告是否生成完成。
      parameters:
        - name: reportId
          in: path
          required: true
          description: 报告ID
          schema:
            type: string
      responses:
        '200':
          description: 成功获取报告状态
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryReport'
  '/inventory/reports/{reportId}/download':
    get:
      summary: 下载在库报告
      operationId: downloadInventoryReport
      tags:
        - 库存报告
      description: |
        下载已生成的在库报告文件。
        支持PDF和Excel格式的报告下载。
      parameters:
        - name: reportId
          in: path
          required: true
          description: 报告ID
          schema:
            type: string
      responses:
        '200':
          description: 成功下载报告文件
          content:
            application/pdf:
              schema:
                type: string
                format: binary
              examples:
                pdf_report:
                  summary: PDF格式报告
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
              examples:
                excel_report:
                  summary: Excel格式报告
          headers:
            Content-Disposition:
              description: 文件下载附件头
              schema:
                type: string
                example: attachment; filename="inventory_report_20240115.pdf"
            Content-Length:
              description: 文件大小
              schema:
                type: integer
  /inventory/inboundReports:
    get:
      summary: 获取入库报告列表
      operationId: listInboundReports
      tags:
        - 入库报告
      description: |
        获取入库报告的历史列表，支持按仓库、客户等条件筛选。
      parameters:
        - name: page
          in: query
          description: 页码
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: itemsPerPage
          in: query
          description: 每页数量
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: warehouseId
          in: query
          description: 仓库ID筛选
          schema:
            type: integer
        - name: customerId
          in: query
          description: 客户ID筛选
          schema:
            type: integer
        - name: status
          in: query
          description: 报告状态筛选
          schema:
            type: string
            enum:
              - pending
              - processing
              - completed
              - failed
        - name: startDate
          in: query
          description: 开始日期筛选（报告生成时间）
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: 结束日期筛选（报告生成时间）
          schema:
            type: string
            format: date
      responses:
        '200':
          description: 成功获取入库报告列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InboundReportListResp'
        '400':
          description: 请求参数错误
        '500':
          description: 服务器内部错误
  /inventory/inboundReport/generate:
    post:
      summary: 生成入库报告
      operationId: generateInboundReport
      tags:
        - 入库报告
      description: |
        生成指定入库记录的入库报告PDF/Excel。
        报告将异步生成，返回报告ID用于查询生成状态和下载。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InboundReportReq'
      responses:
        '202':
          description: 入库报告生成任务已接受
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InboundReportResp'
        '400':
          description: 请求参数错误
        '404':
          description: 入库记录不存在
        '500':
          description: 服务器内部错误
  '/inventory/inboundReports/{reportId}/status':
    get:
      summary: 获取入库报告生成状态
      operationId: getInboundReportStatus
      tags:
        - 入库报告
      description: |
        根据报告ID获取入库报告的生成状态。
        可用于轮询检查报告是否生成完成。
      parameters:
        - name: reportId
          in: path
          required: true
          description: 入库报告ID
          schema:
            type: string
      responses:
        '200':
          description: 成功获取入库报告状态
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InboundReport'
        '404':
          description: 报告不存在
        '500':
          description: 服务器内部错误
  '/inventory/inboundReports/{reportId}/download':
    get:
      summary: 下载入库报告
      operationId: downloadInboundReport
      tags:
        - 入库报告
      description: |
        下载已生成的入库报告文件。
        支持PDF和Excel格式的报告下载。
      parameters:
        - name: reportId
          in: path
          required: true
          description: 入库报告ID
          schema:
            type: string
      responses:
        '200':
          description: 成功下载入库报告文件
          content:
            application/pdf:
              schema:
                type: string
                format: binary
              examples:
                pdf_report:
                  summary: PDF格式入库报告
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
              examples:
                excel_report:
                  summary: Excel格式入库报告
          headers:
            Content-Disposition:
              description: 文件下载附件头
              schema:
                type: string
                example: attachment; filename="inbound_report_20240115.pdf"
            Content-Length:
              description: 文件大小
              schema:
                type: integer
        '404':
          description: 报告不存在或尚未生成完成
        '410':
          description: 下载链接已过期
        '500':
          description: 服务器内部错误
  /inventory/outboundReports:
    get:
      summary: 获取出库报告列表
      operationId: listOutboundReports
      tags:
        - 出库报告
      description: |
        获取出库报告的历史列表，支持按仓库、客户等条件筛选。
      parameters:
        - name: page
          in: query
          description: 页码
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: itemsPerPage
          in: query
          description: 每页数量
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: warehouseId
          in: query
          description: 仓库ID筛选
          schema:
            type: integer
        - name: customerId
          in: query
          description: 客户ID筛选
          schema:
            type: integer
        - name: status
          in: query
          description: 报告状态筛选
          schema:
            type: string
            enum:
              - pending
              - processing
              - completed
              - failed
        - name: startDate
          in: query
          description: 开始日期筛选（报告生成时间）
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: 结束日期筛选（报告生成时间）
          schema:
            type: string
            format: date
      responses:
        '200':
          description: 成功获取出库报告列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutboundReportListResp'
        '400':
          description: 请求参数错误
        '500':
          description: 服务器内部错误
  /inventory/outboundReport/generate:
    post:
      summary: 生成出库报告
      operationId: generateOutboundReport
      tags:
        - 出库报告
      description: |
        生成指定出库记录的出库报告PDF/Excel。
        报告将异步生成，返回报告ID用于查询生成状态和下载。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutboundReportReq'
      responses:
        '202':
          description: 出库报告生成任务已接受
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutboundReportResp'
        '400':
          description: 请求参数错误
        '404':
          description: 出库记录不存在
        '500':
          description: 服务器内部错误
  '/inventory/outboundReports/{reportId}/status':
    get:
      summary: 获取出库报告生成状态
      operationId: getOutboundReportStatus
      tags:
        - 出库报告
      description: |
        根据报告ID获取出库报告的生成状态。
        可用于轮询检查报告是否生成完成。
      parameters:
        - name: reportId
          in: path
          required: true
          description: 出库报告ID
          schema:
            type: string
      responses:
        '200':
          description: 成功获取出库报告状态
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutboundReport'
        '404':
          description: 报告不存在
        '500':
          description: 服务器内部错误
  '/inventory/outboundReports/{reportId}/download':
    get:
      summary: 下载出库报告
      operationId: downloadOutboundReport
      tags:
        - 出库报告
      description: |
        下载已生成的出库报告文件。
        支持PDF和Excel格式的报告下载。
      parameters:
        - name: reportId
          in: path
          required: true
          description: 出库报告ID
          schema:
            type: string
      responses:
        '200':
          description: 成功下载出库报告文件
          content:
            application/pdf:
              schema:
                type: string
                format: binary
              examples:
                pdf_report:
                  summary: PDF格式出库报告
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
              examples:
                excel_report:
                  summary: Excel格式出库报告
          headers:
            Content-Disposition:
              description: 文件下载附件头
              schema:
                type: string
                example: attachment; filename="outbound_report_20240115.pdf"
            Content-Length:
              description: 文件大小
              schema:
                type: integer
        '404':
          description: 报告不存在或尚未生成完成
        '410':
          description: 下载链接已过期
        '500':
          description: 服务器内部错误
  /inventory/nameChanges:
    get:
      summary: 名义变更单列表
      operationId: listNameChanges
      tags:
        - 库存
      parameters:
        - name: page
          in: query
          description: 页码
          schema:
            type: integer
            default: 1
        - name: itemsPerPage
          in: query
          description: 每页数量
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNameChangesResp'
  /inventory/nameChange:
    post:
      summary: 创建名义变更单
      operationId: createNameChange
      tags:
        - 库存
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NameChange'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameChange'
  '/inventory/nameChange/{id}':
    get:
      summary: 名义变更单详情
      operationId: getNameChange
      tags:
        - 库存
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 名义变更单ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameChange'
    put:
      summary: 更新名义变更单
      operationId: updateNameChange
      tags:
        - 库存
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 名义变更单ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NameChange'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameChange'
    delete:
      summary: 删除名义变更单
      operationId: deleteNameChange
      tags:
        - 库存
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 名义变更单ID
  '/inventory/nameChange/{id}/approve':
    post:
      summary: 确认名义变更单
      operationId: approveNameChange
      tags:
        - 库存
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 名义变更单ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameChange'
  '/inventory/nameChange/{id}/reject':
    post:
      summary: 拒绝名义变更单
      operationId: rejectNameChange
      tags:
        - 库存
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 名义变更单ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameChange'
  '/inventory/nameChange/{id}/cancel':
    post:
      summary: 取消名义变更单
      operationId: cancelNameChange
      tags:
        - 库存
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 名义变更单ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameChange'
  /inventory/nameChangeItems:
    get:
      summary: 名义变更商品列表
      operationId: listNameChangeItems
      tags:
        - 库存
      parameters:
        - name: page
          in: query
          description: 页码
          schema:
            type: integer
            default: 1
        - name: itemsPerPage
          in: query
          description: 每页数量
          schema:
            type: integer
            default: 20
        - name: lotNumber
          in: query
          description: 批次号
          schema:
            type: string
        - name: productId
          in: query
          description: 商品ID
          schema:
            type: integer
        - name: nameChangeDateFrom
          in: query
          description: 名义变更日期(From)
          schema:
            type: string
            format: date
        - name: nameChangeDateTo
          in: query
          description: 名义变更日期(To)
          schema:
            type: string
            format: date
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNameChangeItemsResp'
  /inventory/nameChangeReports:
    get:
      summary: 获取名义变更报告列表
      operationId: listNameChangeReports
      tags:
        - 名义变更报告
      description: |
        获取名义变更报告的历史列表，支持按仓库、客户等条件筛选。
      parameters:
        - name: page
          in: query
          description: 页码
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: itemsPerPage
          in: query
          description: 每页数量
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: warehouseId
          in: query
          description: 仓库ID筛选
          schema:
            type: integer
        - name: customerId
          in: query
          description: 客户ID筛选
          schema:
            type: integer
        - name: status
          in: query
          description: 报告状态筛选
          schema:
            type: string
            enum:
              - pending
              - processing
              - completed
              - failed
        - name: startDate
          in: query
          description: 开始日期筛选（报告生成时间）
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: 结束日期筛选（报告生成时间）
          schema:
            type: string
            format: date
      responses:
        '200':
          description: 成功获取名义变更报告列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameChangeReportListResp'
        '400':
          description: 请求参数错误
        '500':
          description: 服务器内部错误
  /inventory/nameChangeReport/generate:
    post:
      summary: 生成名义变更报告
      operationId: generateNameChangeReport
      tags:
        - 名义变更报告
      description: |
        生成指定名义变更记录的名义变更报告PDF/Excel。
        报告将异步生成，返回报告ID用于查询生成状态和下载。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NameChangeReportReq'
      responses:
        '202':
          description: 名义变更报告生成任务已接受
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameChangeReportResp'
        '400':
          description: 请求参数错误
        '404':
          description: 名义变更记录不存在
        '500':
          description: 服务器内部错误
  '/inventory/nameChangeReports/{reportId}/status':
    get:
      summary: 获取名义变更报告生成状态
      operationId: getNameChangeReportStatus
      tags:
        - 名义变更报告
      description: |
        根据报告ID获取名义变更报告的生成状态。
        可用于轮询检查报告是否生成完成。
      parameters:
        - name: reportId
          in: path
          required: true
          description: 名义变更报告ID
          schema:
            type: string
      responses:
        '200':
          description: 成功获取名义变更报告状态
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameChangeReport'
        '404':
          description: 报告不存在
        '500':
          description: 服务器内部错误
  '/inventory/nameChangeReports/{reportId}/download':
    get:
      summary: 下载名义变更报告
      operationId: downloadNameChangeReport
      tags:
        - 名义变更报告
      description: |
        下载已生成的名义变更报告文件。
        支持PDF和Excel格式的报告下载。
      parameters:
        - name: reportId
          in: path
          required: true
          description: 名义变更报告ID
          schema:
            type: string
      responses:
        '200':
          description: 成功下载名义变更报告文件
          content:
            application/pdf:
              schema:
                type: string
                format: binary
              examples:
                pdf_report:
                  summary: PDF格式名义变更报告
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
              examples:
                excel_report:
                  summary: Excel格式名义变更报告
          headers:
            Content-Disposition:
              description: 文件下载附件头
              schema:
                type: string
                example: attachment; filename="name_change_report_20240115.pdf"
            Content-Length:
              description: 文件大小
              schema:
                type: integer
        '404':
          description: 报告不存在或尚未生成完成
        '410':
          description: 下载链接已过期
        '500':
          description: 服务器内部错误
  /billing/invoices:
    get:
      summary: 发票列表
      operationId: listInvoices
      tags:
        - 结算
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: 页码
        - name: pageSize
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: 每页数量
        - name: customerId
          in: query
          schema:
            type: integer
          description: 客户ID
        - name: status
          in: query
          schema:
            type: string
            enum:
              - draft
              - issued
              - cancelled
              - paid
          description: 发票状态
        - name: outboundDateFrom
          in: query
          schema:
            type: string
            format: date
          description: 出库日期（起）
        - name: outboundDateTo
          in: query
          schema:
            type: string
            format: date
          description: 出库日期（止）
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInvoicesResp'
  /billing/invoice:
    post:
      summary: 创建发票
      operationId: createInvoice
      tags:
        - 结算
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvoiceReq'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
  '/billing/invoice/{id}':
    get:
      summary: 发票详情
      operationId: getInvoice
      tags:
        - 结算
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 发票ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
  '/billing/invoice/{id}/issue':
    post:
      summary: 下发发票
      operationId: issueInvoice
      tags:
        - 结算
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 发票ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueInvoiceReq'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
  '/billing/invoice/{id}/cancel':
    post:
      summary: 取消发票
      operationId: cancelInvoice
      tags:
        - 结算
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
            description: 发票ID
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelInvoiceReq'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
  /billing/invoicePrints:
    get:
      summary: 获取发票打印任务列表
      operationId: listInvoicePrints
      tags:
        - 结算
      description: |
        获取发票打印版Excel生成任务的列表，支持按发票编号、客户和状态等条件筛选。
      parameters:
        - name: page
          in: query
          description: 页码
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: itemsPerPage
          in: query
          description: 每页数量
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: invoiceNumber
          in: query
          description: 发票编号筛选
          schema:
            type: string
        - name: customerId
          in: query
          description: 客户ID筛选
          schema:
            type: integer
        - name: status
          in: query
          description: 打印任务状态筛选
          schema:
            type: string
            enum:
              - pending
              - processing
              - completed
              - failed
        - name: startDate
          in: query
          description: 开始日期筛选（任务创建时间）
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: 结束日期筛选（任务创建时间）
          schema:
            type: string
            format: date
      responses:
        '200':
          description: 成功获取发票打印任务列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicePrintListResp'
        '400':
          description: 请求参数错误
        '500':
          description: 服务器内部错误
  /billing/invoicePrint/generate:
    post:
      summary: 生成发票打印版Excel
      operationId: generateInvoicePrint
      tags:
        - 结算
      description: |
        生成指定发票的打印版Excel文件。
        打印任务将异步执行，返回任务ID用于查询状态和下载。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoicePrintReq'
      responses:
        '202':
          description: 发票打印任务已接受
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicePrintResp'
        '400':
          description: 请求参数错误
        '404':
          description: 发票不存在
        '409':
          description: 发票状态不支持生成打印版
        '500':
          description: 服务器内部错误
  '/billing/invoicePrints/{printId}/status':
    get:
      summary: 获取发票打印任务状态
      operationId: getInvoicePrintStatus
      tags:
        - 结算
      description: |
        根据打印任务ID获取生成状态。
        可用于轮询检查发票打印版是否生成完成。
      parameters:
        - name: printId
          in: path
          required: true
          description: 发票打印任务ID
          schema:
            type: string
      responses:
        '200':
          description: 成功获取发票打印任务状态
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicePrint'
        '404':
          description: 打印任务不存在
        '500':
          description: 服务器内部错误
  '/billing/invoicePrints/{printId}/download':
    get:
      summary: 下载发票打印版
      operationId: downloadInvoicePrint
      tags:
        - 结算
      description: |
        下载已生成的发票打印版Excel文件。
      parameters:
        - name: printId
          in: path
          required: true
          description: 发票打印任务ID
          schema:
            type: string
      responses:
        '200':
          description: 成功下载发票打印版文件
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
              examples:
                invoice_print_excel:
                  summary: 发票打印版Excel
          headers:
            Content-Disposition:
              description: 文件下载附件头
              schema:
                type: string
                example: attachment; filename="invoice_print_20240115.xlsx"
            Content-Length:
              description: 文件大小
              schema:
                type: integer
        '404':
          description: 打印任务不存在或尚未生成完成
        '410':
          description: 下载链接已过期
        '500':
          description: 服务器内部错误
  /procurement/orders:
    get:
      summary: 获取注文列表
      operationId: listOrders
      tags:
        - 采购
      description: |
        获取注文书列表，支持按订单编号、客户和状态等条件筛选。
      parameters:
        - name: page
          in: query
          description: 页码
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: itemsPerPage
          in: query
          description: 每页数量
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: orderNumber
          in: query
          description: 注文编号筛选
          schema:
            type: string
        - name: customerId
          in: query
          description: 客户ID筛选
          schema:
            type: integer
        - name: status
          in: query
          description: 状态筛选
          schema:
            type: string
            enum:
              - draft
              - requested
              - sent
              - completed
              - cancelled
        - name: deliveryDueStart
          in: query
          description: 纳期开始筛选
          schema:
            type: string
            format: date
        - name: deliveryDueEnd
          in: query
          description: 纳期结束筛选
          schema:
            type: string
            format: date
      responses:
        '200':
          description: 成功获取注文列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrdersResp'
        '400':
          description: 请求参数错误
        '500':
          description: 服务器内部错误
  /procurement/order:
    post:
      summary: 创建注文书
      operationId: createOrder
      tags:
        - 采购
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderReq'
      responses:
        '200':
          description: 成功创建注文书
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: 请求参数错误
        '404':
          description: 客户不存在
        '409':
          description: 注文明细不合法
        '500':
          description: 服务器内部错误
  '/procurement/order/{id}':
    get:
      summary: 注文详情
      operationId: getOrder
      tags:
        - 采购
      parameters:
        - name: id
          in: path
          required: true
          description: 注文ID
          schema:
            type: integer
      responses:
        '200':
          description: 成功获取注文详情
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          description: 注文不存在
    put:
      summary: 更新注文书
      operationId: updateOrder
      tags:
        - 采购
      parameters:
        - name: id
          in: path
          required: true
          description: 注文ID
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderReq'
      responses:
        '200':
          description: 成功更新注文书
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: 请求参数错误
        '404':
          description: 注文不存在
        '409':
          description: 注文状态不允许修改
    delete:
      summary: 取消注文书
      operationId: cancelOrder
      tags:
        - 采购
      parameters:
        - name: id
          in: path
          required: true
          description: 注文ID
          schema:
            type: integer
      responses:
        '200':
          description: 成功取消注文书
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          description: 注文不存在
        '409':
          description: 当前状态不允许取消
  '/procurement/order/{id}/submit':
    post:
      summary: 提交注文书
      operationId: submitOrder
      tags:
        - 采购
      parameters:
        - name: id
          in: path
          required: true
          description: 注文ID
          schema:
            type: integer
      responses:
        '200':
          description: 成功提交注文书
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          description: 注文不存在
        '409':
          description: 当前状态不允许提交
        '500':
          description: 服务器内部错误
  '/procurement/order/{id}/send':
    post:
      summary: 下发注文书
      operationId: sendOrder
      tags:
        - 采购
      parameters:
        - name: id
          in: path
          required: true
          description: 注文ID
          schema:
            type: integer
      responses:
        '200':
          description: 成功下发注文书
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          description: 注文不存在
        '409':
          description: 当前状态不允许下发
        '500':
          description: 服务器内部错误
  '/procurement/order/{id}/complete':
    post:
      summary: 完成注文书
      operationId: completeOrder
      tags:
        - 采购
      parameters:
        - name: id
          in: path
          required: true
          description: 注文ID
          schema:
            type: integer
      responses:
        '200':
          description: 成功完成注文书
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          description: 注文不存在
        '409':
          description: 当前状态不允许完成
        '500':
          description: 服务器内部错误
  '/procurement/order/{id}/cancel':
    post:
      summary: 取消注文书
      operationId: cancelOrderAction
      tags:
        - 采购
      parameters:
        - name: id
          in: path
          required: true
          description: 注文ID
          schema:
            type: integer
      responses:
        '200':
          description: 成功取消注文书
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          description: 注文不存在
        '409':
          description: 当前状态不允许取消
        '500':
          description: 服务器内部错误
  /procurement/orderPrints:
    get:
      summary: 获取注文打印任务列表
      operationId: listOrderPrints
      tags:
        - 采购
      description: |
        获取注文打印版Excel生成任务的列表，支持按订单编号、客户和状态等条件筛选。
      parameters:
        - name: page
          in: query
          description: 页码
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: itemsPerPage
          in: query
          description: 每页数量
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: orderNumber
          in: query
          description: 注文编号筛选
          schema:
            type: string
        - name: customerId
          in: query
          description: 客户ID筛选
          schema:
            type: integer
        - name: status
          in: query
          description: 打印任务状态筛选
          schema:
            type: string
            enum:
              - pending
              - processing
              - completed
              - failed
        - name: startDate
          in: query
          description: 开始日期筛选（任务创建时间）
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: 结束日期筛选（任务创建时间）
          schema:
            type: string
            format: date
      responses:
        '200':
          description: 成功获取注文打印任务列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderPrintListResp'
        '400':
          description: 请求参数错误
        '500':
          description: 服务器内部错误
  /procurement/orderPrint/generate:
    post:
      summary: 生成注文打印版Excel
      operationId: generateOrderPrint
      tags:
        - 采购
      description: |
        生成指定注文书的打印版Excel文件。
        打印任务将异步执行，返回任务ID用于查询状态和下载。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderPrintReq'
      responses:
        '202':
          description: 注文打印任务已接受
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderPrintResp'
        '400':
          description: 请求参数错误
        '404':
          description: 注文不存在
        '409':
          description: 注文状态不支持生成打印版
        '500':
          description: 服务器内部错误
  '/procurement/orderPrints/{printId}/status':
    get:
      summary: 获取注文打印任务状态
      operationId: getOrderPrintStatus
      tags:
        - 采购
      description: |
        根据打印任务ID获取生成状态。
        可用于轮询检查注文打印版是否生成完成。
      parameters:
        - name: printId
          in: path
          required: true
          description: 注文打印任务ID
          schema:
            type: string
      responses:
        '200':
          description: 成功获取注文打印任务状态
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderPrint'
        '404':
          description: 打印任务不存在
        '500':
          description: 服务器内部错误
  '/procurement/orderPrints/{printId}/download':
    get:
      summary: 下载注文打印版
      operationId: downloadOrderPrint
      tags:
        - 采购
      description: |
        下载已生成的注文打印版Excel文件。
      parameters:
        - name: printId
          in: path
          required: true
          description: 注文打印任务ID
          schema:
            type: string
      responses:
        '200':
          description: 成功下载注文打印版文件
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
              examples:
                order_print_excel:
                  summary: 注文打印版Excel
          headers:
            Content-Disposition:
              description: 文件下载附件头
              schema:
                type: string
                example: attachment; filename="order_print_20240115.xlsx"
            Content-Length:
              description: 文件大小
              schema:
                type: integer
        '404':
          description: 打印任务不存在或尚未生成完成
        '410':
          description: 下载链接已过期
        '500':
          description: 服务器内部错误
  /containers:
    get:
      summary: 获取集装箱列表
      operationId: listContainers
      tags:
        - 集装箱
      parameters:
        - name: page
          in: query
          description: 页码
          schema:
            type: integer
            default: 1
        - name: itemsPerPage
          in: query
          description: 每页数量
          schema:
            type: integer
            default: 20
        - name: containerNumber
          in: query
          description: 集装箱号
          schema:
            type: string
        - name: 'statuses[]'
          in: query
          description: 集装箱状态
          schema:
            type: array
            items:
              type: string
              enum:
                - shipping
                - arrived
                - customsClearance
                - discharging
                - discharged
                - empty
                - returned
                - canceled
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContainersResp'
  /container:
    post:
      summary: 创建集装箱
      operationId: createContainer
      tags:
        - 集装箱
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContainerReq'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateContainerResp'
  '/container/{id}':
    get:
      summary: 获取集装箱详情
      operationId: getContainer
      tags:
        - 集装箱
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            description: 集装箱ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContainerResp'
    put:
      summary: 更新集装箱
      operationId: updateContainer
      tags:
        - 集装箱
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            description: 集装箱ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Container'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetContainerResp'
    delete:
      summary: 删除集装箱
      operationId: deleteContainer
      tags:
        - 集装箱
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            description: 集装箱ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        password:
          tokenUrl: /auth/login
          scopes: {}
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    AuthTokens:
      type: object
      description: JWT令牌信息
      required:
        - tokenType
        - accessToken
        - expiresIn
        - refreshToken
        - refreshTokenExpiresIn
      properties:
        tokenType:
          type: string
          description: 令牌类型，通常为Bearer
          example: Bearer
        accessToken:
          type: string
          description: Access Token
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
        expiresIn:
          type: integer
          format: int64
          description: Access Token有效期（秒）
          example: 3600
        refreshToken:
          type: string
          description: Refresh Token
          example: dGhpc19pc19hX3NhbXBsZV9yZWZyZXNoX3Rva2Vu
        refreshTokenExpiresIn:
          type: integer
          format: int64
          description: Refresh Token有效期（秒）
          example: 604800
    EmployeeProfile:
      type: object
      description: 员工基础信息
      required:
        - id
        - email
        - name
        - roles
      properties:
        id:
          type: string
          description: 员工ID
          example: emp_12345
        email:
          type: string
          format: email
          description: 员工邮箱
          example: employee@example.com
        name:
          type: string
          description: 员工姓名
          example: 张三
        roles:
          type: array
          description: 员工角色列表
          items:
            type: string
          example:
            - admin
            - warehouse_manager
        lastLoginAt:
          type: string
          format: date-time
          description: 上次登录时间
          example: '2024-05-06T03:20:00Z'
        avatarUrl:
          type: string
          format: uri
          description: 员工头像链接
          example: 'https://cdn.example.com/avatar/emp_12345.png'
    LoginReq:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          description: 员工邮箱
          example: employee@example.com
        password:
          type: string
          format: password
          description: 登录密码
          example: Secret123!
    LoginResp:
      type: object
      required:
        - tokens
        - employee
      properties:
        tokens:
          $ref: '#/components/schemas/AuthTokens'
        employee:
          $ref: '#/components/schemas/EmployeeProfile'
      example:
        tokens:
          tokenType: Bearer
          accessToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
          expiresIn: 3600
          refreshToken: dGhpc19pc19hX3NhbXBsZV9yZWZyZXNoX3Rva2Vu
          refreshTokenExpiresIn: 604800
        employee:
          id: emp_12345
          email: employee@example.com
          name: 张三
          roles:
            - admin
            - warehouse_manager
          lastLoginAt: '2024-05-06T03:20:00Z'
          avatarUrl: 'https://cdn.example.com/avatar/emp_12345.png'
    RefreshTokenReq:
      type: object
      required:
        - refreshToken
      properties:
        refreshToken:
          type: string
          description: Refresh Token
          example: dGhpc19pc19hX3NhbXBsZV9yZWZyZXNoX3Rva2Vu
    LogoutReq:
      type: object
      required:
        - refreshToken
      properties:
        refreshToken:
          type: string
          description: 需要失效的Refresh Token
          example: dGhpc19pc19hX3NhbXBsZV9yZWZyZXNoX3Rva2Vu
    AuthProfileResp:
      type: object
      required:
        - employee
      properties:
        employee:
          $ref: '#/components/schemas/EmployeeProfile'
      example:
        employee:
          id: emp_12345
          email: employee@example.com
          name: 张三
          roles:
            - admin
            - warehouse_manager
          lastLoginAt: '2024-05-06T03:20:00Z'
          avatarUrl: 'https://cdn.example.com/avatar/emp_12345.png'
    Address:
      type: object
      description: 地址
      properties:
        postalCode:
          type: string
          description: 邮政编码
        detailAddress1:
          type: string
          description: 详细地址1
        detailAddress2:
          type: string
          description: 详细地址2
    Pagination:
      type: object
      properties:
        pagination:
          type: object
          properties:
            page:
              type: integer
              description: 页码
            itemsPerPage:
              type: integer
              description: 每页数量
            totalItems:
              type: integer
              description: 总数量
            totalPages:
              type: integer
              description: 总页数
    DashboardStats:
      type: object
      properties:
        totalInventoryCount:
          type: integer
          description: 总库存数量
        monthlyInboundCount:
          type: integer
          description: 本月入库数量
        monthlyOutboundCount:
          type: integer
          description: 本月出库数量
        pendingInboundCount:
          type: integer
          description: 待处理入库单数量
        pendingOutboundCount:
          type: integer
          description: 待处理出库单数量
        warehouseCount:
          type: integer
          description: 仓库数量
        customerCount:
          type: integer
          description: 客户数量
        productCount:
          type: integer
          description: 商品数量
    DashboardStatsResp:
      allOf:
        - $ref: '#/components/schemas/DashboardStats'
    Warehouse:
      type: object
      properties:
        id:
          type: integer
          description: 仓库ID
        name:
          type: string
          description: 仓库名称
        tel:
          type: string
          description: 电话
        fax:
          type: string
          description: 传真
        address:
          $ref: '#/components/schemas/Address'
          description: 仓库地址
    CreateWarehouseReq:
      allOf:
        - $ref: '#/components/schemas/Warehouse'
    CreateWarehouseResp:
      allOf:
        - $ref: '#/components/schemas/Warehouse'
    GetWarehouseResp:
      allOf:
        - $ref: '#/components/schemas/Warehouse'
    ListWarehousesResp:
      allOf:
        - $ref: '#/components/schemas/Pagination'
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Warehouse'
    Product:
      type: object
      properties:
        id:
          type: integer
          description: 商品ID
        name:
          type: string
          description: 商品名
        sku:
          type: string
          description: 商品SKU
        leafCategory:
          $ref: '#/components/schemas/ProductCategory'
          description: 最小商品种类ID
        categoryRoute:
          type: array
          description: 商品种类路径
          items:
            $ref: '#/components/schemas/ProductCategory'
        cargoMark:
          type: string
          description: 货物标记
        images:
          type: array
          description: 商品图片列表
          items:
            $ref: '#/components/schemas/ProductImage'
        dimension:
          type: object
          properties:
            description:
              type: string
              description: 尺寸描述
            length:
              type: number
              description: 长度
            width:
              type: number
              description: 宽度
            height:
              type: number
              description: 高度
            lengthUnit:
              type: string
              description: 长度单位
              enum:
                - mm
                - cm
                - m
            unitWeight:
              type: number
              description: 单件重量
            totalWeight:
              type: number
              description: 总重量
            weightUnit:
              type: string
              description: 重量单位
              enum:
                - kg
                - g
        hasSubPackage:
          type: boolean
          description: 是否存在子包装
        subPackageCount:
          type: integer
          description: 子包装数量
        isFixedWeight:
          type: boolean
          description: 是否固定重量
        isActive:
          type: boolean
          description: 是否激活
    ProductImage:
      type: object
      required:
        - mediaId
      properties:
        id:
          type: string
          description: 商品图片记录ID
        mediaId:
          type: string
          description: 媒体图片ID，用于通过媒体服务访问
        order:
          type: integer
          description: 图片顺序，值越小越靠前
        altText:
          type: string
          description: 图片替代文本
    ProductCategory:
      type: object
      properties:
        id:
          type: integer
          description: 商品种类ID
        parentId:
          type: integer
          description: 父商品种类ID
        name:
          type: string
          description: 商品种类名称
    CreateProductReq:
      allOf:
        - $ref: '#/components/schemas/Product'
    CreateProductResp:
      allOf:
        - $ref: '#/components/schemas/Product'
    GetProductResp:
      allOf:
        - $ref: '#/components/schemas/Product'
    ListProductsResp:
      allOf:
        - $ref: '#/components/schemas/Pagination'
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Product'
    UploadedImage:
      type: object
      required:
        - mediaId
      properties:
        mediaId:
          type: string
          description: 媒体图片ID，用于后续访问或绑定商品
        url:
          type: string
          format: uri
          description: 图片访问地址（通过媒体服务代理访问，可能受权限控制）
        fileName:
          type: string
          description: 原始文件名
        contentType:
          type: string
          description: 文件MIME类型
        size:
          type: integer
          format: int64
          description: 文件大小（字节）
    Customer:
      type: object
      properties:
        id:
          type: integer
          description: 客户ID
        name:
          type: string
          description: 客户名
        tel:
          type: string
          description: 电话
        fax:
          type: string
          description: 传真
        address:
          $ref: '#/components/schemas/Address'
          description: 地址
        contact:
          $ref: '#/components/schemas/CustomerContact'
    CreateCustomerReq:
      allOf:
        - $ref: '#/components/schemas/Customer'
    CreateCustomerResp:
      allOf:
        - $ref: '#/components/schemas/Customer'
    GetCustomerResp:
      allOf:
        - $ref: '#/components/schemas/Customer'
    ListCustomersResp:
      allOf:
        - $ref: '#/components/schemas/Pagination'
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Customer'
    CustomerContact:
      type: object
      properties:
        id:
          type: integer
          description: 联系人ID
        customerId:
          type: integer
          description: 客户ID
        name:
          type: string
          description: 联系人名
        tel:
          type: string
          description: 电话
        email:
          type: string
          description: 邮箱
    InventoryItem:
      type: object
      properties:
        id:
          type: integer
          description: 库存物品ID
        warehouse:
          type: object
          properties:
            id:
              type: integer
              description: 仓库ID
            name:
              type: string
              description: 仓库名称
        customer:
          type: object
          properties:
            id:
              type: integer
              description: 客户ID
            name:
              type: string
              description: 客户名称
        inboundOrderId:
          type: string
          description: 入库订单ID
        inboundId:
          type: integer
          description: 入库记录ID
        inboundItemId:
          type: integer
          description: 入库物品ID
        inboundDate:
          type: string
          description: 入库日期
        product:
          type: object
          properties:
            id:
              type: integer
              description: 商品ID
            name:
              type: string
              description: 商品名称
            dimension:
              type: object
              properties:
                description:
                  type: string
                  description: 尺寸描述
                length:
                  type: number
                  description: 长度
                width:
                  type: number
                  description: 宽度
                height:
                  type: number
                  description: 高度
                lengthUnit:
                  type: string
                  description: 长度单位
                  enum:
                    - cm
                    - m
                weight:
                  type: number
                  description: 重量
                weightUnit:
                  type: string
                  description: 重量单位
                  enum:
                    - kg
                    - g
        perItemWeight:
          type: number
          description: 单品重量
        perItemWeightUnit:
          type: string
          description: 单品重量单位
        totalWeight:
          type: number
          description: 总重量
        manufactureDate:
          type: string
          format: date
          description: 生产日期
        bestBeforeDate:
          type: string
          format: date
          description: 最佳风味期限
        lotNumber:
          type: string
          description: 批次号
        shipName:
          type: string
          description: 船名
        inboundQuantity:
          type: integer
          description: 入库数量
        leftQuantity:
          type: integer
          description: 剩余数量
        leftSubQuantity:
          type: integer
          description: 剩余子件数
        muted:
          type: boolean
          description: 是否静音
    InventoryItemDetailResp:
      allOf:
        - $ref: '#/components/schemas/InventoryItem'
        - type: object
          properties:
            inboundItem:
              $ref: '#/components/schemas/InboundItem'
            outboundItems:
              type: array
              items:
                $ref: '#/components/schemas/OutboundItem'
            nameChangeItems:
              type: array
              items:
                $ref: '#/components/schemas/NameChangeItem'
    AgedInventoryItemListResp:
      allOf:
        - $ref: '#/components/schemas/Pagination'
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/InventoryItem'
    ListInventoryResp:
      allOf:
        - $ref: '#/components/schemas/Pagination'
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/InventoryItem'
    StorageFeePlan:
      type: object
      properties:
        id:
          type: integer
          description: 保管费用计划ID
        fromDate:
          type: string
          description: 开始日期
        payerName:
          type: string
          description: 付款方名称
    Inbound:
      type: object
      properties:
        id:
          type: integer
          description: 入库记录ID
        inboundOrderId:
          type: string
          description: 入库订单ID
        inboundDate:
          type: string
          format: date
          description: 入库日期
        customerOrderId:
          type: string
          description: 客户订单号
        warehouse:
          type: object
          properties:
            id:
              type: integer
              description: 仓库ID
            name:
              type: string
              description: 仓库名称
        customer:
          type: object
          properties:
            id:
              type: integer
              description: 客户ID
            name:
              type: string
              description: 客户名称
        items:
          type: array
          description: 入库物品列表
          items:
            $ref: '#/components/schemas/InboundItem'
        storageFeePlans:
          type: array
          description: 保管费用计划列表
          items:
            $ref: '#/components/schemas/StorageFeePlan'
        status:
          type: string
          description: 入库状态
          enum:
            - draft
            - pending
            - approved
            - rejected
            - cancelled
        createdAt:
          type: string
          description: 创建时间
    ListInboundsResp:
      allOf:
        - $ref: '#/components/schemas/Pagination'
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Inbound'
    ListInboundItemsResp:
      allOf:
        - $ref: '#/components/schemas/Pagination'
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/InboundItem'
    InboundItem:
      type: object
      properties:
        id:
          type: integer
          description: 入库物品ID
        inboundId:
          type: integer
[...]
